* {
    box-sizing: border-box;
}
body {

    font-family: 'Nunito', sans-serif;
}

a {
    text-decoration-line: none;
    color: inherit;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

/*en üst kısım */
.top-container {
    background-image: url(/asset/bg-photo.png);
    background-size: cover;
    background-repeat: no-repeat;
    color: #ffffff;
    text-align: center;
}

.cuba-img {
    padding-top: 20%;
    padding-bottom: 20%;
}
.cuba-img img {
    max-width: 70%;
}
.explore {
    font-size: 24px;
    padding-bottom: 2%;

}

/* resmin altındaki linler*/
.top-nav {
    display: flex;
    justify-content: center;
    border-bottom: 1px solid #d0d4d8;

}

.row {
    margin-top: 24px;
    margin-bottom: 20px;
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    font-size: 14px;
    line-height: 1.36;
    color: #909090;


}

/*dükkan kısmı*/

.why {
    margin-top: 7%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;


}

.why-you-love {
    font-size: 32px;
    line-height: 1.19;
    letter-spacing: normal;
    text-align: center;
    color: #4e5665;
}

.always {
    margin-top: 5%;
    margin-bottom: 3%;
    width: 60%;
    font-size: 16px;
    line-height: 1.75;
    color: #505050;
}

.statistic {
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    /* margin-left: 7%; */
    width: 70%;
    flex: 0 1 auto;
    flex-direction: row;
    flex-wrap: wrap;
}
.statistic .box {
    flex: 1;
}
.resimler {
    /* margin-right: 40%; */
    margin-bottom: 30px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.resimler img {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.rakamlar {
    /* margin-right: 70%; */
    margin-bottom: 30px;
    text-align: center;
}

.rakamlar .number {
    font-size: 22px;
    font-weight: 400;
    line-height: 1.36;
    color: #4e5665;
}

.rakamlar .title {
    font-size: 14px;
    color: #909090;
    margin-top: 10px;

}

.hl {
    max-width: 1170px;
    width: 86%;
    border-bottom: 1px solid #d0d4d8;
    opacity: 0.5;
    margin-bottom: 80px;
    margin-top: 80px;
}

/*zigzag resimler*/

.zigzag {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.zig {
    display: flex;
    justify-content: center;
    margin-bottom: 7%;
}

.zig-left {
    width: 50%;
    max-width: 850px;
    margin-right: -10%;
    margin-left: -10%;
    z-index: 2;
}

.heritage {
    margin-top: 15%;
    max-width: 470px;
    padding: 40px;
    box-shadow: 0 2px 40px 0 rgba(0, 0, 0, 0.2);
    background-color: #ffffff;
}

.baslik {
    font-size: 24px;
    line-height: 1.04;
    color: #4e5665;
    margin-bottom: 3%;
}

.icerik {
    font-size: 16px;
    line-height: 1.75;
    color: #505050;
}

.zig-right {
    width: 50%;
}

.zag {
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
}

/* Caddillactan slidera */

.cadillac {
    display: flex;
    margin-top: 5%;
}

.cad-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


}

.row1 {
    display: flex;
    flex-direction: row;


}

.The-Cadillacs-of-Cub {
    font-size: 32px;
    line-height: 1.19;
    color: #4e5665;
}

.hover {
    font-size: 16px;
    font-weight: 600;
    line-height: 1.75;
    color: #ecb84c;

}

.row2 {
    display: flex;
    flex-direction: column;
    margin-top: 8%;
}

.hl2 {
    max-width: 1170px;
    width: 100%;
    height: 7px;
    opacity: 0.5;
    -webkit-filter: blur(2px);
    filter: blur(2px);
    background-color: #212020;

}

.row3 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
    width: 66%;
}

.embargo {
    font-size: 16px;
    line-height: 1.75;
    color: #505050;
}

.hl3 {
    max-width: 270px;
    width: 26%;
    border-bottom: 1px solid #d0d4d8;
    opacity: 0.5;
    margin-bottom: 80px;
    margin-top: 80px;

}

/* slider */

.slider{
    display: flex;
}

.slider-container{
    display: block;
    /* display: flex;
    justify-content: center; */
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
}
/* */ 

.footer {
    display: flex;
    flex-direction: column;
    background-color: #f8f8f8;
    justify-content: space-around;

}

.footer-container {
    display: flex;
    justify-content: center;
    margin-bottom: 2%;
    margin-top: 3%;
}
.footer-container .col a img {
    display: inline-block;
}
.sel {
    border-radius: 2px;
    box-shadow: inset 0 1px 4px 0 rgba(0, 0, 0, 0.2);
    border: solid 1px #d9dde1;
    background-color: #ffffff;

}

.col {
    display: flex;
    flex-direction: column;
    margin-right: 5%;

}

.col p {
    font-size: 15px;
    font-weight: 600;
    line-height: 1.33;
    color: #4e5665;
}

.col a {
    font-size: 14px;
    line-height: 1.36;
    color: #505050;
    margin-bottom: 2%;
}

.hline{
    margin-bottom: 10%;
}

#tagency {
    font-size: 34px;
    font-weight: 500;
    color: #37c491;

}

.allright {
    display: flex;
    justify-content: center;
}

.allright p {
    font-size: 14px;
    line-height: 1.36;
    color: #505050;
}



@media screen and (max-width: 1024px) {
    .zigzag {
        padding: 15px;
    }
    .zig-right-img img {
        width: 100%;
        height: auto;
    }
    .zigzag .zig,
    .zigzag .zag {
        flex-direction: column-reverse
    }

    .zigzag .zag .zig-left,
    .zigzag .zag .zig-right,
    .zigzag .zig .zig-left,
    .zigzag .zig .zig-right {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }
    .heritage {
        max-width: 90%;
        margin-top: -10%;
        margin-left: auto;
        margin-right: auto;
    }
    .cadillac {
        padding-left: 30px;
        padding-right: 30px;
    }

    .top-nav .row {
        display: block;
        width: 100%;
    }
    .top-nav .row a {
        display: block;
        width: 50%;
        float: left;
        text-align: center;
        padding: 10px;
    }

    .why {
        padding: 15px;
    }
    .why .always {
        width: 100%;
    }

    .why .statistic {
        width: 100%;
    }

    .why .statistic .box {
        flex-basis: 50%;
        max-width: 50%;
    }
  
    .cad-container .row3 {
        width: 100%;
    }
    .footer-container {
        display: flex;
        justify-content: space-around;
        align-items: center;
        align-content: center;
        flex: 0 1 auto;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .footer-container .col {
        flex: 1;
        flex-basis: 50%;
        max-width: 50%;
        margin: 0;
        padding: 15px;
        align-self: flex-start;
    }
}



@media screen and (max-width: 480px) {

}